html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../image/ZJyCKuE.jpg');
    color: white;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.btn-pink {
    background-color: #ff69b4;
    color: white;
}

    .btn-pink:hover {
        background-color: #e75480; /* darker pink on hover */
        color: white;
    }

.btn-purple {
    background-color: #6f42c1; /* Bootstrap's purple shade */
    color: white;
}

    .btn-purple:hover {
        background-color: #5a32a3; /* darker purple on hover */
        color: white;
    }

.table thead th {
    color: black;
    text-shadow: 1px 1px 2px black;
}
table {
    background-color: white; 
    color: black; 
    border-collapse: collapse; 
}

    table th, table td {
        border: 1px solid #ccc; 
        padding: 8px; 
    }

